<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .box {
            border: 1px solid;
        }
        
        .ht50 {
            height: 50px;
        }
        
        .ht100 {
            height: 100px;
        }
        
        .ht500 {
            height: 1000px;
        }
        
        .ht100percent {
            height: 100vh;
        }
        
        .blue-box {
            height: 12px;
            width: 12px;
            background-color: blue;
            display: inline-block;
        }
        
        .red-box {
            height: 12px;
            width: 12px;
            background-color: red;
            display: inline-block;
        }
        
        .green-box {
            height: 12px;
            width: 12px;
            background-color: green;
            display: inline-block;
        }
        
        .purple-box {
            height: 12px;
            width: 12px;
            background-color: purple;
            display: inline-block;
        }
        
        .orange-box {
            height: 12px;
            width: 12px;
            background-color: orange;
            display: inline-block;
        }

        .ml-30 {
            margin-left: 30px;
        }

        .bold {
            font-weight: bold;
        }
        
        .nav-bar {
            border-bottom: 1px solid #aaa;
            /* top: 0;
            left: 0;
            right: 0;
            position: fixed;
            z-index: 1; */
        }
        
        #website-title-link {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-family: sans-serif;
            margin-left: 30px;
            margin-top: 8px;
        }
        
        
        #home-title-link {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-family: sans-serif;
            font-size: 15px;
            padding-left: 50px;
        }
        
        .home-title {
            padding-left: 5px;
        }
        
        .home-title:hover {
            font-weight: bolder;
        }
        
        .search-bar {
          border-style: solid;
          border-color: grey;
          border-radius: 10px;
          width: 400px;
          font-size: 17px;
          background-image: url('images/SearchIcon.png');
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;
          padding-left: 50px;
        } 
        
        .fa-user {
            margin-right: 50px;
        }
        
        .content {
            /* padding-top: 50px;
            z-index: 0; */
            font-family: sans-serif;
        }
        
        .side-bar {
            border-right: 1px solid #aaa;
        }
        
        .home-content {
            background-color: #eee;
        }
        
        .home-content-header {
            font-family: sans-serif;
            margin-top: 30px;
            margin-left: 30px;
        }
        
        .btn-primary {
            margin-top: 30px;
            margin-bottom: 15px;
            margin-left: 30px;
        }
        
        #forum {
            text-decoration: none;
            color: black;
            display: block;
            margin-bottom: 10px;
            margin-left: 30px;
        }
        
        #list-forums:hover {
            background-color: #eee;
        }
        
        .forum-name {
            margin-left: 5px;
        }
        
        #discussion-link {
            text-decoration: none;
            color: black;
        }
        
        .discussion {
            display: block;
            box-sizing: border-box;
            border-color: #dee0e1;
            border-style: solid;
            border-width: 1px;
            margin-bottom: 10px;
            background-color: white;
            width: 80%;
            margin-top: 15px;
            margin-left: 30px;
        }
        
        .profile-picture {   
            margin-top: 10px; 
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: lightblue;
            color: white;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        
        .green {
            background-color: lightgreen;
        }
        
        .discussion-title {
            margin-top: 10px;
        }
        
        .discussion-user {
            font-size: 12px;
        }
        
        #forum-link {
            text-decoration: none;
            color: black;
        }
        
        #forum-link:hover {
            font-weight: bold;
        }

        .discussion-content {
            font-size: 15px;
        }
        
        .discussion-forum {
            margin-top: 10px;
            font-size: 12px;
            align-items: baseline;
        }       

        .vote {
            display: flex;
            align-items: center;
        }
        
    </style>
    <script src="https://kit.fontawesome.com/5984b07bdc.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row row-cols-3 nav-bar ht50 d-flex align-items-center">
            <div class="col d-flex align-items-center">
                <a id="website-title-link" href="./home">
                    <H3 class="bold">CougConnect</H3>
                </a>
                <a id="home-title-link" href="./home">
                    <i class="fa-solid fa-house"></i>
                    <span class="home-title">Home</span>
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <input class="search-bar" type="text" placeholder="Search Forum">
            </div>      
            <div class="col d-flex justify-content-end">
                <a href="/settings">
                    <img src="/images/account-icon.png" alt="Account" />
                </a>
            </div>
        </div>
        <div class="row row-cols-2 ht500 content">
            <div class="col-2 side-bar">
                <!-- <button type="button" class="btn btn-primary" role="menuitem" onclick="createForum()">Create a Forum</button> -->
                <!-- Vertically centered scrollable modal -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Create a Forum
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create a Forum</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <form method="post" action="/home/createForum">
                                <div class="modal-body">
                                    <div class="form-group">
                                    <label for="exampleFormControlInput1">Forum Name</label>
                                    <input required name ="forumName" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Soccer">
                                    </div>
                                    <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Forum Description</label>
                                    <textarea name ="forumDesc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <input type="submit" value="Add Forum" class="btn btn-primary"></button>
                                </div>
                              </form>
                    </div>
                    </div>
                </div>
                <p class="ml-30 bold">FORUMS</p>
                <div class="forums-list" id="forums-list">
                    <% for (forum of forums) { %>
                        <a id="forum" href="/home/<%= forum.forumID %>" role="menuitem">
                            <div class="blue-box"></div>
                            <span class="forum-name"><%= forum.forumName %></span>
                        </a>
                    <% } %>    
                </div>
            </div>
            <div class="col-10 home-content">
                <h2 class="home-content-header">Trending Discussions</h2>
                <div class="discussion-list">
                    <% let i = 0 %>
                    <% for (post of posts) { %>
                        <a id="discussion-link" href="./Discussion.html">
                            <div class="discussion">
                                <div class="row">
                                    <div class="col-1 d-flex align-items-start justify-content-center">
                                        <div class="profile-picture">
                                            <span><%= post.username[0] %></span>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="discussion-header">
                                            <h5 class="discussion-title"><%= post.title %></h5>
                                            <p class="discussion-user"><%= post.username %> <span class="posted-time">Posted <%= post.created_at %></span></p>
                                        </div>
                                        <div class="discussion-body">
                                            <p class="discussion-content"><%= post.content %></p>
                                        </div>
                                        <div class="vote">
                                            <form action="/home/upvote" method="post">
                                                <input type="hidden" name="postID" value="<%= post.postID %>">
                                                <button class="btn"><i class="fa-solid fa-arrow-up"></i></button>
                                            </form>
                                            <span><%= post.votes %></span>
                                            <form action="/home/downvote" method="post">
                                                <input type="hidden" name="postID" value="<%= post.postID %>">
                                                <button class="btn"><i class="fa-solid fa-arrow-down"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="discussion-forum">
                                            <span><%= forumNames[i++] %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% } %>         
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>